<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<center>
			<h1>Bienvenue, vous avez
				{{ age }}
				ans,
								vous pouvez jouer !</h1>
		</center>
		<center><img src="https://img.huffingtonpost.com/asset/5f84f5e42400007534d1340d.png?cache=CAXUwU9Cga&ops=1200_630" alt=""></center>
	</body>
</html>
