{% extends "bases.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block header %}
	<header>
		<h1>Voici la liste des articles</h1>
	</header>
{% endblock %}

{% block main %}
	<main>
		<div class="article">
			{% for article in articles %}
				<article>
					<h2>
						{# fonction path permet de rediriger vers une url grâce au nom de la route et des paramètres de cette route si besoin  #}
						<a href="{{ path('article', {'id' : article.id}) }}">
							{{ article.titre }}</a>
					</h2>
					<p>{{ article.contenu }}</p>
				</article>
			{% endfor %}
		</div>
	</main>
{% endblock %}

{% block footer %}
	<footer>
		<h3>Démonstration du super site de la mort qui tue</h3>
	</footer>
{% endblock %}
